.button-tax-deduction {
  padding: 16px 32px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid #ffffff;
  box-sizing: inherit;
  height: 56px;
  width: 198px;
  border-radius: 6px;
  cursor: pointer;
}
